<tr>
    <td id="country" />
       <td id="city" />
       <td id="street" class="text-center" />
    <td id="number" />
    <td id="food"/>
    <td id="medicine"/>
        <!-- <td class="text-center" title='add point' onclick="add($(this).parent());"><img src="/images/round-add-button.png"></img></td> -->
        <td>     <input class="form-control" type="checkbox" name='check'>
        </td>
</tr>
