<tr>
    <td id="username" />
       <td id="password" />
       <td id="admin" class="text-center" />
    <td id="name" />
    <td id="email"/>
    <td id="phone"/>
        <td class="text-center" title='delete user' onclick="remove($(this).parent());"><img src="/images/glyphicons-8-user-remove.png"></img></td>
        <td class="text-center" title='update user' onclick="update($(this).parent());"><img src="/images/353430_checkbox_pen_edit_pencil_icon.png"></img></td>
</tr>
